@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 5px;
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
  background: #ddd;
 }
 
 /* Handle */
 ::-webkit-scrollbar-thumb {
  background: #aaa;
 }
 
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
  background: #999;
 }

@layer base {
 body {
  @apply font-primary text-base leading-normal bg-gray-100 selection:bg-yellow-200;
 }

 #app {
  display: grid;
  grid-template-areas:
   'sidebar content aside'
   'sidebar content aside';
  grid-template-columns: 0.7fr 2.5fr 0.12fr;
  grid-template-rows: 1fr;
  @apply relative h-screen max-h-screen overflow-hidden lg:overflow-auto;
 }

 aside { grid-area: sidebar; }
 main { grid-area: content; }
 nav { grid-area: aside; }

 h1 { @apply text-4xl lg:text-6xl mb-5; }
 h2 { @apply text-lg lg:text-2xl mb-3; }
 h3 { @apply text-base lg:text-xl mb-3; }
 h4 { @apply text-lg font-semibold; }
 
 a { @apply hover:text-yellow-400 transition-all; }
 p { @apply my-2 text-justify; }

 button, .button {
  @apply bg-yellow-400 text-black font-semibold py-3 px-5 shadow-lg hover:bg-black hover:text-white transition-colors cursor-pointer;
 }

 footer {
  @apply flex items-center justify-between bg-gray-100 mb-12 lg:mb-0 px-9 py-2 font-normal text-gray-600;
 }

 strong, b {
  @apply font-semibold;
 }

 section {
  @apply flex flex-col mx-8 my-8 gap-x-10 gap-y-2 lg:px-2;
 }
}

@layer components {
 .icon {
  @apply cursor-pointer;
 }

 .row {
  @apply flex lg:flex-row lg:justify-center flex-col gap-x-8;
 }

 .button-container {
  @apply flex justify-between gap-2 mt-8 mb-4 lg:my-8 w-full lg:w-auto;
 }

 .icon-container {
  @apply flex relative items-center gap-x-5 bg-gray-50 py-4 cursor-pointer shadow-md rounded hover:translate-y-1 transition-transform lg:items-start;
 }

 .secondary {
  @apply bg-white text-black hover:bg-black hover:text-white;
 }

 .text-h1 {
  @apply mt-10 text-center font-semibold underline underline-offset-8 decoration-yellow-400;
 }

 .text-h2 {
  @apply font-semibold underline-offset-4 underline decoration-yellow-400;
 }

 .text-h3 {
  @apply font-semibold underline-offset-8 underline decoration-yellow-400;
 }

 .text-h4 {
  @apply font-semibold underline-offset-2 underline decoration-yellow-400;
 }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
 #app {
  display: grid;
  grid-template-areas:
   'sidebar'
   'content';
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
 }
}
